{
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"svelteBracketNewLine": false,
	"bracketSameLine": false,
	"trailingComma": "none",
	"tabWidth": 2,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"htmlWhitespaceSensitivity": "ignore"
}
